/* SOBREPOR CONTEÚDO */

.container-with-img {
  margin: auto;
  position: relative;
}

.container img {
  width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: left;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-left: 2rem;
}

.bottom-right {
  position: absolute;
  bottom: 40px;
  right: 0;
  text-align: right;
  margin-right: 2rem;
}

.form-intro {
  display: flex;
  align-items: center;
}

.form-intro button {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--cor-10);
  color: var(--cor-0);
  border: none;
  padding: 0.625rem 1.875rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.form-intro button:hover {
  background-color: var(--cor-1);
}

.form-intro input {
  padding: 0.75rem 1.875rem;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--cor-5);
}

.form-intro input[type='email'] {
  width: 300px;
  color: var(--cor-3);
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  outline: none;
}

.form-intro input[type='email']::placeholder {
  color: var(--cor-4);
}

/* RESPONSIVO */

@media (max-width: 480px) {
  .container-with-img {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-with-img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bottom-left h1 {
    font-size: 3rem;
  }
  .bottom-right {
    bottom: 30px;
  }
  .form-intro input[type='email'] {
    width: 220px;
  }
}
