.container-primario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 30px;
}

.conteudo-primario {
  position: relative;
}

.workout {
  margin-left: 25px;
}

.conteudo-primario h3 {
  text-transform: uppercase;
  margin-left: 40px;
}

.conteudo-primario h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid red;
  background-color: var(--cor-0);
  left: 45px;
  bottom: 112px;
}

.conteudo-primario p {
  margin-left: 72px;
}

.conteudo-primario p::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: var(--cor-6);
  left: 75px;
  bottom: 93px;
}

.down {
  position: relative;
}

.down h1 {
  margin: 0 0 90px 0;
}

.down h1::after {
  content: '';
  display: block;
  position: absolute;
  width: 617px;
  height: 2px;
  background-color: var(--cor-4);
  top: 250px;
}

.cut-imgs {
  display: flex;
  margin: 0 0 90px 0;
  position: relative;
  align-items: center;
}

.cut-img {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin: 0 0 90px 0;
}

.cut-imgs h3,
.cut-img h3 {
  margin-left: 30px;
}

.pixel::after {
  content: '';
  display: block;
  position: absolute;
  width: 617px;
  height: 2px;
  background-color: var(--cor-4);
  top: 100px;
}

.pixels::after {
  content: '';
  display: block;
  position: absolute;
  width: 617px;
  height: 2px;
  background-color: var(--cor-4);
  top: 80px;
}

/* RESPOSIVO */

@media (max-width: 450px) {
  .pixel::after {
    width: 100%;
  }
  .pixels::after {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container-primario {
    grid-template-columns: 1fr;
  }
  .conteudo-primario {
    order: 2;
  }
  .down {
    order: 1;
  }
  .down h1 {
    font-size: 2.4rem;
    margin-bottom: 30px;
  }
  .down h1::after {
    display: none;
  }
  .paragraph {
    margin-bottom: 30px;
  }
  .conteudo-primario img {
    display: none;
  }
  .workout {
    margin-left: 0px;
    background-color: var(--cor-11);
    border-radius: 5px;
    border-style: double;
    padding: 30px;
  }
  .workout h3 {
    margin: 0;
    margin-bottom: 5px;
  }
  .workout p {
    margin-left: 10px;
  }
  .conteudo-primario h3::before {
    top: 36px;
    left: 10px;
  }
  .conteudo-primario p::before {
    left: 18px;
    bottom: 119px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-primario {
    grid-template-columns: 1fr;
  }
  .conteudo-primario {
    order: 2;
  }
  .down {
    order: 1;
  }
  .down h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  .down h1::after {
    display: none;
  }
  .paragraph {
    margin-bottom: 30px;
  }
  .conteudo-primario img {
    display: none;
  }
  .workout {
    margin-left: 0px;
    background-color: var(--cor-11);
    border-radius: 5px;
    border-style: double;
    padding: 30px;
  }
  .workout h3 {
    margin: 0;
    margin-bottom: 5px;
  }
  .workout p {
    margin-left: 10px;
  }
  .conteudo-primario h3::before {
    top: 36px;
    left: 10px;
  }
  .conteudo-primario p::before {
    left: 18px;
    bottom: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-primario {
    grid-template-columns: 1fr;
  }
  .conteudo-primario {
    order: 2;
  }
  .down {
    order: 1;
  }
  .down h1 {
    font-size: 5rem;
    margin-bottom: 30px;
  }
  .down h1::after {
    display: none;
  }
  .paragraph {
    margin-bottom: 30px;
  }
  .conteudo-primario img {
    display: none;
  }
  .workout {
    margin-left: 0px;
    background-color: var(--cor-11);
    border-radius: 5px;
    border-style: double;
    padding: 30px;
  }
  .workout h3 {
    margin: 0;
    margin-bottom: 5px;
  }
  .workout p {
    margin-left: 10px;
  }
  .conteudo-primario h3::before {
    top: 36px;
    left: 10px;
  }
  .conteudo-primario p::before {
    left: 18px;
    bottom: 80px;
  }
  .pixel::after {
    width: 100%;
  }
  .pixels::after {
    width: 100%;
  }
}
