.content-forms {
  margin-left: 2rem;
  margin-top: 3rem;
}

.form-row {
  display: flex;
  gap: 1.2rem;
}

.forms-color {
  background: #dfeced;
  border: none;
  margin: 0.875rem 0 0.875rem 0;
  padding: 10px;
  width: 450px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}

input.forms-color[name='endereco'] {
  width: 225px;
}

input.forms-color[name='estado'] {
  width: 225px;
}

select {
  color: gray;
}

#cidade {
  background: #dfeced;
  border: none;
  margin: 0.875rem 0 0.875rem 0;
  padding: 10px;
  width: 225px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}

#estado {
  background: #dfeced;
  border: none;
  margin: 0.875rem 0 0.875rem 0;
  padding: 10px;
  width: 225px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}

#detail-contact {
  margin-top: 1rem;
  position: relative;
}

#detail-contact::after {
  content: '';
  display: block;
  position: absolute;
  width: 472px;
  height: 2px;
  background-color: var(--cor-11);
  top: 30px;
}
/* 
@media (min-width: 481px) and (max-width: 767px) {
  .forms-color {
    width: 350px;
  }
  #cidade {
    width: 170px;
  }
  #estado {
    width: 170px;
  }
}

@media (max-width: 480px) {
  .forms-color {
    width: 250px;
  }
  .form-row {
    flex-direction: column;
  }
} */
