.footer {
  margin-top: 4rem;
  background-color: var(--cor-1);
  padding: 3.75rem;
}

.footer p {
  text-align: center;
  color: var(--cor-0);
}

@media (max-width: 480px) {
  .footer {
    padding: 3rem;
  }
  .footer p {
    font-size: 1rem;
    text-align: center;
  }
}
